@model CourierApp.Core.ViewModels.Packages.PackageWithoutCourierViewModel

    <tr>
        <td>@Model.Id</td>
        <td>@Model.CustomerEmail</td>
        <td>@Model.Address</td>
        <td>@Html.CheckBoxFor(p => p.Check)</td>
        <td>@Html.HiddenFor(p => p.Id)</td>
    </tr>