@model CourierApp.Core.ViewModels.Packages.PackageWithoutCourierViewModel

<div>
    @Model.Id
    @Model.CustomerEmail
    @Model.Address
    @Html.CheckBoxFor(p => p.Check)
    @Html.HiddenFor(p => p.Id)
</div>